services:
  backend:
    container_name: ${APP_NAME}_backend
    build:
      context: backend
      dockerfile: Dockerfile
    stdin_open: true
    env_file:
      - .env
    environment:
      DATABASE_URL: "postgres://${POSTGRES_USER}@postgres:5432/${POSTGRES_DATABASE_NAME_DEV}?sslmode=disable"
      DATABASE_TEST_URL: "postgres://${POSTGRES_USER}@postgres:5432/${POSTGRES_DATABASE_NAME_TEST}?sslmode=disable"
    ports:
      - ${BACKEND_PORT}:3000
    volumes:
      - ./backend:/backend
      - ./emails:/backend/node_modules/emails

  frontend:
    container_name: ${APP_NAME}_frontend
    build:
      context: frontend
      dockerfile: Dockerfile
    stdin_open: true
    env_file:
      - .env
    ports:
      - ${FRONTEND_PORT}:3000
    volumes:
      - ./frontend:/frontend

  emails:
    container_name: ${APP_NAME}_emails
    build:
      context: emails
      dockerfile: Dockerfile
    stdin_open: true
    env_file:
      - .env
    ports:
      - ${EMAILS_PORT}:3000
    volumes:
      - "./emails:/emails"

  postgres:
    container_name: ${APP_NAME}_postgres
    image: postgres:17-alpine
    env_file:
      - .env
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - postgres:/var/lib/postgresql/data

  mailpit:
    container_name: ${APP_NAME}_mailpit
    image: axllent/mailpit
    ports:
      - ${MAILPIT_PORT}:8025
      - ${MAILPIT_SMTP_PORT}:1025

  minio:
    container_name: ${APP_NAME}_minio
    image: minio/minio:RELEASE.2024-12-18T13-15-44Z
    command: server /data --console-address ":9090"
    ports:
      - "${S3_PORT}:9000"
      - "${MINIO_PORT}:9090"
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY_ID}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_ACCESS_KEY}
    volumes:
      - minio:/data

  tolgee:
    image: tolgee/tolgee
    volumes:
      - ./tolgee.yaml:/config.yaml
    ports:
      - ${TOLGEE_PORT}:8080
    environment:
      spring.config.additional-location: file:///config.yaml
    env_file:
      - .env
    depends_on:
      - postgres

  storybook:
    container_name: ${APP_NAME}_storybook
    build:
      context: storybook
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - ${STORYBOOK_PORT}:3000
    command: ["npm", "run", "dev"]
    volumes:
      - ./storybook:/storybook

volumes:
  postgres:
  minio:
