@import "tailwindcss";
@plugin "daisyui" {
  /* biome-ignore lint/correctness/noUnknownProperty: This is valid for tailwind */
  themes:
    light --default,
    dark --prefersdark;
}
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

.root {
  isolation: isolate;
}

body {
  position: relative;
}
