@import "tailwindcss";
@plugin "daisyui" {
  /* biome-ignore lint/correctness/noUnknownProperty: This is valid for tailwind */
  themes:
    nord --default,
    night --prefersdark;
}
@custom-variant dark (&:where([data-theme="night"], [data-theme="night"] *));

.root {
  isolation: isolate;
}

body {
  position: relative;
}
